*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.whole-website{
    width: 95%;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 100%;
}
.navbar div{
    margin-left: 20px;
    gap: 20px;
    align-items: center;
}
.navbar ul{
    list-style: none;
    text-decoration: none; 
    gap: 30px;
    align-items: center;
}
.navbar a{
    text-decoration: none;
}
.navbar button{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.home{
    justify-content: space-around;
}

.home img{
    height: 300px;
    width: 500px;
    margin: 10px;
}
.home-child1{
    padding: 10px;
    width: 700px;
}
.home-child1>div>h1, .home-child1>div>p, .home-child1>div>button{
    padding: 5px;
}
.home-child1 button{
    border-radius: 8px;
    padding: 20px;
    height: 50px;
    width: 200px;
}
.footer ul{
    list-style: none;
    justify-content: space-around;
    margin: 50px 0;
}