* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 100%;
}

.navbar div {
    margin-left: 20px;
    gap: 20px;
    align-items: center;
}

.navbar ul {
    list-style: none;
    text-decoration: none;
    gap: 30px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.navbar button {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.nav {
    align-items: center;
    width: 50%;
    padding: 20px;
}

.whole-website {
    width: 95%;
    margin: 0 auto;
}

.nav div {
    gap: 30px;
    align-items: center;
    margin-left: 20px;
    height: 50px;
}

.nav div p {
    line-height: 15px;
    margin-top: 15px;
}

.service-body {
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.service-body>div {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

.service-body img {
    height: 250px;
    width: 350px;
    margin: 10px;
}

.services-heading {
    gap: 30px;
    height: 50px;
    align-items: center;
    margin-top: 70px;
    width: 60%;
}

.services-heading p {
    margin-top: 15px;
}